body {
    font-family: 'Roboto';
    background-color: white;
    line-height: 1.3;
}

.container .mediumStory .rectangle {
    width: 20px;
    background-color: #EA0151;
    margin-right: 10px;
    margin-left: 8px;
}

.mediumStory {
    display: flex;
    justify-content: space-between;
}
.mediumStory .content {
    display: flex;
    flex-direction: column;
}

.mediumStory .content .auther_date{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-weight: 400;
    gap: 5px;
}

.mediumStory .content .text h4 {
    color:#EA0151;
    font-weight: 500;
}




.largeStory {
    display:flex;
}

.largeStory .content {
    display: flex;
    flex-direction: column;
}

.largeStory .content .body {
    display: flex;
}

.largeStory .content .body h3{
    font-weight: 400;
}

.largeStory .content .body h1{
    font-size: 1.9em;
}

.largeStory .content .body h4{
    font-weight: 600;
    color: #EA0151;
}

.largeStory .content .body .rectangle {
    width: 20px;
    background-color: #EA0151;
    margin-right: 10px;
    margin-left: 8px;
}

.largeStory .content .auther_date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    font-weight: 500;
    padding-top: 70px;
}





.coverStory {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coverStory .content {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.3s;
}

.coverStory .content .rectangle {
    width: 20px;
    background-color: #EA0151;
    margin-right: 10px;
    margin-left: 8px;
    transition: all 0.3s;
}

.coverStory .content .text  h3 {
    color:#EA0151;
}

.coverStory .content .text h1 {
    font-size: 1.5em;
}

.coverStory .content .text h4 {
    font-weight: 400;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.coverStory:hover .content .text h4 {
    height: 100%;
    transition: all 0.3s;
}

.coverStory .auther_date {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    text-align: end;
    padding-right: 10px;
}

.coverStory .auther_date p {
    font-weight: 400;
}





.smallStory {
    display: flex;
    justify-content: flex-start;
}

.smallStory h4 {
    margin: 0px;
    font-weight: 600;
    color: #EA0151;
}

.smallStory .content {
    display: flex;
}

.smallStory .content .rectangle {
    background-color: #EA0151;
    max-width: 20px;
    padding-right: 5px;
}

.smallStory .content .text {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.smallStory img {
    padding-right: 5px;
}