body {
    background-color: white;
    font-family: 'Roboto'
}

.container {
    padding-bottom:05px;
}

.container .mediumStory .rectangle {
    background-color: #EA0151;
    width: 25px;
    margin-right: 10px;
    
}

.container .mediumStory .content .body {
    padding-bottom: 10px;
}

.mediumStory .content .body h4 {
    color: #EA0151;
    font-weight: 500em; 
}

.mediumStory .content .body h3 {
    font-weight: 600em; 
    font-size: 1.3em;
    line-height: 1.3em;
}

.mediumStory .content .body p {
    font-weight: 500em; 
}

.container .mediumStory .content .auther_date {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-weight: 600;
    font-size: 0.8em;
}

.mediumStory {
    display: flex;
}



.container .largeStory {
    display: flex;
    flex-direction: row;
}

.container .largeStory .rectangle2 {
    background-color: #EA0151;
    width: 23px;
    margin-right: 10px;
    margin-left: 10px;
    
}

.container .largeStory .content2{
    display: flex;
    flex-direction: column;
}

.container .largeStory .content2 .body2 {
    display: flex;
}

.container .largeStory .content2 .auther_date2 {
    font-weight:bold;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.container .largeStory .content2 .text h3 {
    font-weight: 500;
}

.container .largeStory .content2 .text h4 {
    color: #EA0151;
    font-weight: 600;
    font-size: large;
}





.container .cover {
    background-image: url('Frame 16.png');
    display: flex;
    flex-direction: column;
}

.container .cover .body .rectangle{
    background-color: #EA0151;
    width: 23px;
    margin-right: 10px;
    margin-left: 10px;
}

.container .cover .body {
    display: flex;
}

.container .cover .auther_date {
    display: flex-end;
    justify-content: flex-end;
}