


body {
    font-family: 'Roboto';
    background-color: white;
    line-height: 1.3;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.mainTitle1 {
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.mainTitle1 .theInt {
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 10;
    padding-bottom: 1px;
}

.mainTitle1 .intInt {
    display:flex;
    flex-direction: row;
    padding-top: 0px;
    font-size: 20;
}

.mainTitle1 .intInt h2{
    color:#EA0151;
    font-size: 40;
}

.mainTitle1 .proInt {
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 10;
}


/* Home page layout*/

.container .BigOne {
    display: flex;
}

.container .mainContent {
    display: flex;
     flex-direction: column;
     margin-left: 20px;
}

.container .mediums1 {
    display: flex;
    flex-direction: row;
}

/* Side Panel */

.container .sidePanel {
    display: flex;
    align-items: flex-start;
}

.container .sidePanel {
    display: flex;
    flex-direction: column;
}

.container .sidePanel >.smallStory:not(:last-child) {
    border-bottom: 3px solid rgb(209, 209, 209);
    padding-bottom: 25px;
}

/* Nav Bar */

.navbar {
    background-color: #ffffff;
    padding-top: 8px;
}

.navbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(230, 230, 230);
}

.navbar li {
    margin-right: 20px; 
}

.navbar a {
    color:#000000;
    text-decoration: none; 
    padding: 10px 15px;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline; 
    text-decoration-thickness: 3px;
}

.navbar .navbarBottom {
    border-bottom: 3px solid lightgray;
}

/* Small Stories */

.sidePanel .panelTitle .rectangleVert {
    background-color:#EA0151;
    width: 5px;
    height: 30px;
    margin-right: 10px;
}

.sidePanel .panelTitle {
    display: flex;
    flex-direction: row;
}

.container .sidePanel h2{
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.container .sidePanel .smallStory{
    margin-bottom: 20px;
}

.container .sidePanel .smallStory img {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
}

.container .sidePanel .smallStory {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    align-items: center;
    padding-bottom: 10px;
}

.container .sidePanel .smallStory h4 {
    margin: 0px;
    font-weight: 600;
    color: #EA0151;
    font-size: 12;
}

.container .sidePanel .smallStory .content {
    display: flex;
}

.container .sidePanel .smallStory .content .rectangle {
    background-color: #EA0151;
    max-width: 10px;
    padding-right: 5px;
}

.container .sidePanel .smallStory .content .text {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.container .sidePanel .smallStory .content .text .timeStamp {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: gray;
    font-weight: 500;
    font-size: 12;
}

.container .sidePanel .smallStory img {
    padding-right: 5px;
    max-width: 100px;
    max-height: 100px;
}

.container .sidePanel .smallStory .content .text h3 {
    font-size: 15;
}

/* Large Story */


.container .mainContent .largeStory img {
    object-fit: cover;
    max-width: 300px;
    max-height: 343px;
    padding-right: 5px;
}

.container .mainContent .largeStory {
    display:flex;
    padding-bottom: 10px;
}

.container .mainContent .largeStory .content {
    display: flex;
    flex-direction: column;
}

.container .mainContent.largeStory .content .body {
    display: flex;
}

.container .mainContent .largeStory .content .body h3{
    font-weight: 400;
    padding-bottom: 40px;
}

.container .mainContent .largeStory .content .body h1{
    font-size: 1.9em;
    text-transform: uppercase;
    padding-bottom: 10px;
    line-height: 1.2;
}

.container .mainContent .largeStory .content .body h4{
    font-weight: 600;
    color: #EA0151;
    text-transform: uppercase;
    letter-spacing: 2;
}

.container .mainContent .largeStory .content .body .rectangle12 {
    width: 15px;
    background-color: #EA0151;
    margin-right: 10px;
    margin-left: 8px;
}

.container .mainContent .largeStory .content .auther_date {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin-top: 50px;
}

.container .mainContent .largeStory .content .auther_date p {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    font-weight: 500;
    color: gray;
    
}

/* Medium Story */

.container .mediumStory {
    margin-right: 20px;
}

.container .mediumStories .mediumStory img {
    object-position: center top;
    object-fit: cover;
    aspect-ratio: 3/2; 
 }

 .container .mediumStories .mediumStory .rectangle {
    width: 15px;
    background-color: #EA0151;
    margin-right: 10px;
}

.container .mediumStories .mediumStory {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.container .mediumStories .mediumStory .content {
    display: flex;
    flex-direction: column;

}

.container .mediumStories .mediumStory .content .auther_date{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    font-weight: 500;
    gap: 5px;
    padding-top: 10px;
    color: gray;
    font-size: 12px;
    margin-bottom: auto;
}

.container .mediumStories .mediumStory .content .text h4 {
    color:#EA0151;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2;
}

.container .mediumStories .mediumStory .content .text h3 {
    padding-top: 10px;
    padding-bottom: 6px;
    text-transform: uppercase;
}

.container .mediumStories .mediumStory .content .text p {
    padding-bottom: 4px;
}

.container .mediumStories .mediumStory2 img {
    object-position: center top;
    object-fit: cover;
    aspect-ratio: 3/2; 
 }

 .container .mediumStories .mediumStory2 .rectangle {
    width: 20px;
    background-color: #EA0151;
    margin-right: 10px;
    margin-left: 8px;
}

.container .mediumStories .mediumStory2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.container .mediumStories .mediumStory2 .content {
    display: flex;
    flex-direction: column;

}

.container .mediumStories .mediumStory2 .content .auther_date{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    font-weight: 500;
    gap: 5px;
    padding-top: 10px;
    color: gray;
    font-size: 12px;
    margin-top: auto;
}

.container .mediumStories .mediumStory2 .content .text h4 {
    color:#EA0151;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2;
}

.container .mediumStories .mediumStor2y .content .text h3 {
    padding-top: 10px;
    padding-bottom: 6px;
    text-transform: uppercase;
}

.container .mediumStories .mediumStory2 .content .text p {
    padding-bottom: 4px;
}


.container .subContainer {
    display: flex;
    flex-direction: row;
}













































